.parceiros {
  padding-top: 60px;
  padding-bottom: 120px;
}

.parceiros h2 {
  margin-bottom: 60px;
}

.parceiros ul {
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.parceiros li {
  display: flex;
  padding: 32px;
  border: 2px solid var(--cor-2);
  border-top: none;
  border-left: none;
}

.parceiros li:nth-child(n+5) {
  border-bottom: none;
}

.parceiros li:nth-child(4n) {
  border-right: none;
}

.parceiros img {
  margin: auto;
}

@media (max-width:600px) {
  .parceiros ul {
    grid-template-columns: repeat(2, 1fr);
  }

  .parceiros li:nth-child(even) {
    border-right:none;
  }

  .parceiros li:nth-child(5) {
    border-bottom: 2px solid var(--cor-2);
  }

  .parceiros li:nth-child(6) {
    border-bottom: 2px solid var(--cor-2);
  }

  .parceiros {
    padding-bottom: 60px;
  }

  .parceiros li {
    padding: 32px 20px;
  }
}